@model ITMApp.Models.status
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    @using (Html.BeginForm("Create", "Home",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="panel-body">
            @Html.HiddenFor(m => m.statusID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)     
                {
                    case "statusID":
                    case "_switch":
                        // do nothing
                        break;
                        
                    case "switchID":
                        <div class="form-group">
                            <label>Commutator</label>
                            @Html.DropDownList("switchID", ViewBag.Switches as SelectList, new { @class = "chzn-select", data_placeholder = "Select a commutator" })
                        </div>
                        break;

                    case "action":
                        <div class="form-group">
                            <label>Select Action</label>
                            @Html.DropDownList("action", ViewBag.PossibleActions as SelectList, new { data_placeholder = "Select an action" })
                        </div>
                        break;

                    default:
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                        break;
                }
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", null, new
       {
           @class = "btn btn-default"
       })
        </div>
    }
</div>