@model IEnumerable<ITMApp.Models.status>
@{
    ViewBag.Title = "Статусы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<link href="~/Content/Dashbord.css" rel="stylesheet" />
    }
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen({ no_results_text: "No match found" });
    });
</script>
    }

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">@Html.ActionLink("Все коммутаторы", "Index", "Home")</li> @*TODO html action link*@
        <li>@Html.ActionLink("Отчет по состоянию", "Index", "Status")</li>
        <li>@Html.ActionLink("Отчет по простою", "Index", "Downtime")</li>
        <li><a href="#">Marketing events</a></li>
    </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    
    <h1 class="page-header">Выберите Коммутатор</h1>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            @using (Html.BeginForm())
            {
                @Html.DropDownList("Name", ViewBag.Switches as SelectList, new { @class = "chzn-select", style = "width:250px;", data_placeholder = "Select a switch" })
                <br />
                <input type="submit" value="Выбрать" class="btn btn-info" style="margin-top: 10px; float: left; " />
            }
        </div>
        <div class="col-xs-6 col-sm-3 placeholder"></div>
        <div class="col-xs-6 col-sm-3 placeholder"></div>
        <div class="col-xs-6 col-sm-3 placeholder"></div>
    </div>

    <h2 class="sub-header">Статусы</h2>
    <div class="table-responsive" style="overflow-y: scroll; height: 400px">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Имя Коммутатора</th>
                    <th>Дата</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ITMApp.Models.status stat in Model)
                {
                    <tr>
                        <td>@stat._switch.Name</td>
                        <td>@stat.datetime</td>
                        <td>@(stat.action == "+1" ? "Up" : "Down")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить статус", "Create", null,
                     new { @class = "btn btn-primary" })
    </div>
</div>
